
html {
    width: 100%;
    height: 100%;
    margin: 0;
    font: 20px "Courier New", "Courier", Monospace;
    background-color: #ccc;
}

body {
    width: 100%;
    height: 100%;
    margin: 0;
}

.content {
    margin: 0 5%;
    padding: 0 3% 3%;
    background-color: #fff;
}

.container {
    padding: 3% 0;
}

.header-img {
    width: 100%;
    height: 400px;
    margin: auto;
    display: block;
    background-repeat: no-repeat;
    background-size: cover;
}

.main-header-img {
    background-image: url("http://placehold.it/360x180?text=");
}
.about-header-img {
    background-image: url("http://placehold.it/360x180?text=");
}
.resume-header-img {
    background-image: url("http://placehold.it/360x180?text=");
}
.contact-header-img {
    background-image: url("http://placehold.it/360x180?text=");
}

.header-text {
    text-align: center;
    position: relative;
    top: 40%;
}

.header-title {
    font-size: 48px;
}

.header-subtitle {
    font-size: 30px;
}
